<br>
<% if user_signed_in? %>
	<div class="list-group">
		<span class="list-group-item active">
			<h4><b>Categories</b></h4>
			<% Degre.all.each do |degree| %>
		</span>
		<span class="list-group-item">
				<%= link_to degree.name_with_type, degree %>
				<%= link_to "0", degree, class: "badge" %>
		</span>
			<% end %>
	</div>
<% end %>
